:root {
    --cor-primaria: #B7C5D9;
    --cor-secundaria: black !important;
    --cor-terciaria: black;
    --cor-fundo: #141414;
    --cor-fundo-claro: #D6DAF0;
    --cor-texto: black;
    --cor-texto-claro: #f4c095;
    --cor-borda: #B7C5D9;
    --cor-quote: #D00;
    --cor-borda-claro: #B7C5D9;
    --cor-fundo-gradiente: linear-gradient(#6d99BA50, #1c1c1c75 400px calc(100% - 200px), #d2738A90);
}

.name {
    color: #117743;
}

.verde{
	color: #4a9f61;
}

.user_name_role {
    color: #AF0A0F;
}

*{
    font-family: sans-serif;
    font-size: 10pt;
}

body {
    background: #EEF2FF url(https://files.catbox.moe/tjfdv1.png) repeat-x 50% 0%;
    color: black;
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
}

.navbar {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    background-color: transparent;
    justify-content: space-between;
    margin: 0;
    z-index: 9999;
}

.board-links li a{
    color: #34345C;
    position: relative;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 10pt;
    letter-spacing: 4px;
    margin: 0;
}

.banner {
    user-select: none;
    max-width: 30em;
}

.board-title {
    font-family: fantasy;
    font-size: 30pt;
    font-weight: 1;
    color: #AF0A0F;
}

.board-options-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 2em;
    width: 100%;
}

.board-options ul li a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 11pt;
    transition: all 0.3s ease;
}

.divisoria {
    display: block;
    width: 100%;
    border-bottom: 1px solid #B7C5D9;
}

pre {
    font-size: 10pt;
}

.label, .rlabel {
    padding: 3px;
    border: 1px solid var(--cor-primaria);
    min-width: 80px;
    background: #98E;
    display: flex;
    font-weight: 700;
    font-size: 13px;
    margin-right: 1px;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    color: var(--cor-terciaria);
}

.posts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    left: 0;
}


.post {
    background-color: Transparent;
    border-style: none;
    box-shadow: none;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2em;
    width: 100%;
    max-width: 100%;
    min-width: unset;
    margin-top: 1em;
    position: relative;
    flex: 0 0 auto;
    padding: 0em;
}

.reply {
    display: flex;
    flex-wrap: wrap;
    max-width: 40em;
    min-width: 20em;
    width: fit-content;
    flex: 0 0 auto;
    color: var(--cor-texto);
    background-color: var(--cor-fundo-claro);
    border-style: none solid solid none;
    border-color: #B7C5D9;
    border-width: 1px;
    margin-top: 3em;
    height: fit-content;
    margin-top: 1em;
    align-items: flex-start;
    justify-content: flex-start;
    transition: filter 0.3s ease;
    box-sizing: border-box;
    box-shadow: none;
}

.paginate-posts-container {
    width: 100%;
}

.last_post_content a {
    color: var(--cor-terciaria);
}


.catalog-container .catalog-post {
    box-shadow: none;
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto);
}

.index-fixed-pages {
    border: none;
    background: transparent;
}

.index-chan-presentation {
    background-color: transparent;
    border: 1px solid var(--cor-borda);
}

.sobre-container p {
    color: black;
}

#dynamicAnnouncement {
    border-color: black;
    color: black;
}

.last-posts {
    background-color: var(--cor-fundo-claro);
}

.boards-container {
    background-color: var(--cor-fundo-claro);
}

@media (min-width: 768px) {
    .page-content div:not(.post,.board-options-container) {
        max-width: unset;
    }
}

@media (max-width: 600px) {
    .reply {
        width: 100%;
        min-width: 100%;
    }
  .reply-postInfo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: var(--cor-texto);
        border-bottom: 1px solid #809aa7;
        padding: 0.4em 0.5em 0.2em;
        left: 0;
        width: 100%;
        gap: 3px;
        background-color: #9cb5bca6;
    }
}
